<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue sur MagicBook, <%= @user.name %></h1>
    <p>
      Vous vous êtes inscrit avec succès sur MagicBook,
      votre pseudonyme: <%= @user.login %>.<br>
    </p>
    <p>
      Pour vous connecter au site, suivez simplement ce lien : <%= @url %>.
    </p>
    <p>Merci pour votre participation et bonne journée!</p>
  </body>
</html>
