<label>
  <a class="btn" href="#scrollButtonWhite" role="button">
    <div class="icon"><img class="fa white" src="https://gatherer.wizards.com/images/Redesign/White_Mana.png"></div>
  </a>
  <a class="btn" href="#scrollButtonBlue" role="button">
    <div class="icon"><img class="fa white" src="https://gatherer.wizards.com/images/Redesign/Blue_Mana.png"></div>
  </a>
  <a class="btn" href="#scrollButtonBlack" role="button">
    <div class="icon"><img class="fa white" src="https://gatherer.wizards.com/images/Redesign/Black_Mana.png"></div>
  </a>
  <a class="btn" href="#scrollButtonRed" role="button">
    <div class="icon"><img class="fa white" src="https://gatherer.wizards.com/images/Redesign/Red_Mana.png"></div>
  </a>
  <a class="btn" href="#scrollButtonGreen" role="button">
    <div class="icon"><img class="fa white" src="https://gatherer.wizards.com/images/Redesign/Green_Mana.png"></div>
  </a>
  <a class="btn" href="#scrollButtonMulticolor" role="button">
    <div class="icon"><img class="fa white" src="http://theendgamesblog.com/wp-content/uploads/2016/01/RsjbhOm.png" style="width: 25px;"></div>
  </a>
  <a class="btn" href="#scrollButtonColorless" role="button">
    <div class="icon"><img class="fa white" src="https://media.wizards.com/2015/images/daily/Colorless-symbol.png" style="width: 25px;"></div>
  </a>
</label>
