<% if @cards["data"] == nil %>
  <div class="container">
    <%= render "partials/not_found" %>
  </div>
<% else %>
  <div class="container">
    <%= render "partials/scroll_to_top" %>
  </div>
<% end %>
