<footer class="my-5 pt-5 text-muted text-center text-small">
  <hr>
  <div class="container">
    <div class="copyright">
      © Copyright <strong><span>repairemagic.fr</span></strong> Pour <a href="<%= contact_path %>">me contacter</a>.
    </div>
    <div class="credits">
      Crée par <a href="https://github.com/Symitsh">Florent S.</a>
    </div>
  </div>
</footer>
