<footer class="bg-light py-3 mt-5">
  <div class="container">
    <div class="row">
      <div class="col text-center text-muted">
        <p class="mb-0">
          © Copyright <span>repairemagic.fr</span> | <%= link_to "Me contacter", contact_path %>.
        </p>
        <!--<p class="mb-0">Créé par <%= link_to "Florent S.", "https://github.com/Symitsh" %></p>-->
      </div>
    </div>
  </div>
</footer>
