<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">© 2022 <a href="https://github.com/Symitsh" style="color: #000000;">Sandri Florent</a></p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="<%= construction_path %>" style="color: #6c757d;">A propos</a>
    <li class="list-inline-item"><a href="<%= construction_path %>" style="color: #6c757d;">Termes et conditions</a></li>
    <!--li class="list-inline-item"><a href="#">Support technique</a></li-->
  </ul>
</footer>
