<footer class="container mt-5 pt-5" style="max-width: 1280px;">
  <div class="row">
          <div class="col-12 d-flex flex-column mb-5 col-md-6">
              <div class="d-flex flex-column justify-content-start align-items-start">
                  <p class="m-0 text-muted small mb-3">Buit by © 2022 <a href="#" class="fw-normal text-muted">Florent</a>. All rights reserved.</p>
              </div>
          </div>
          <div class="col-12 d-flex flex-column mb-5 col-md-6 justify-content-end align-items-start align-items-md-end">
              <p class="text-muted small flex-center pe-3">Need help? <a href="#" class="fw-normal text-muted">Contact us</a>.</p>
              </p>
          </div>
  </div>
</footer>
