<footer class="my-5 pt-5 text-muted text-center text-small">
  <hr>
  <div class="container">
    <div class="copyright">
      © Copyright <strong><span>Le Repaire Magic</span></strong>. Pour me <a href="https://github.com/Symitsh" target="_blank">contacter</a>.
    </div>
    <div class="credits">
      Crée par <a href="https://github.com/Symitsh">Sandri Florent</a>
    </div>
  </div>
</footer>
