<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container text-center position-relative">
    <h1 class="d-block pb-3">Bienvenue sur le site de la <span class="d-block pb-3 background-gradient">Magie des cartes</span></h1>
    <a href="#about" class="btn-get-started scrollto">C'est partie !</a>
  </div>
</section><!-- End Hero -->
