<div class="alert alert-secondary text-center" role="alert">
  <img src="https://images.ctfassets.net/s5n2t79q9icq/6rdW8PbWVohxvAum5Q20sN/e41ed9f2bda29bc8e39cfecec1e5761a/icon_768x432_capenna_express.jpg?fm=webp" alt="carte magic the gathering" class="img-fluid">
  <h2> Le Capenna Express</h2>
  <p>
    Celui-ci est arrivé à destination, il est temps de trouver un moyen de le faire partir.
  </p>
  <p>
    Veuillez réessayer avec un autre nom.
  </p>
  <p>
    <a href="<%= root_path %>" class="btn btn-secondary">Retour à l'accueil</a>
  </p>
</div>
