<div class="alert alert-secondary text-center" role="alert">
  <img src="https://images.ctfassets.net/s5n2t79q9icq/5P00iKmp8XfR92cI4457RO/10ef997e37c8ce89ea4ab51b23182113/BackgroundFull_Event_ELD_Premier_Draft.jpg?fm=avif" alt="carte magic the gathering" class="img-fluid">

  <h2>Aucune carte trouvée</h2>
  <p>
    Il n'y a aucune carte correspondant à votre recherche.
  </p>
  <p>
    Veuillez réessayer avec un autre nom.
  </p>
  <p>
  <!-- Boutton retour à l'acceuil -->
    <a href="<%= root_path %>" class="btn btn-secondary">Retour à l'accueil</a>
  </p>
</div>
