<% if @cards.sum(:quantity) == 0 %>
  <div class="container text-center mt-5">
    <img src="https://images.ctfassets.net/s5n2t79q9icq/6CD1NIljkydWyaviTmJ616/26610f46dfa9f43123d355f503528aaa/d3jaJtb4gJk-1920x700.jpg?q=80&w=1920&h=700&fit=crop&f=center&fm=avif" alt="carte magic the gathering" class="img-fluid">
    <h2>Oh non !</h2>
    <p>
      Tu n'as aucune carte dans ta collection.
    </p>
    <p>
      <strong>Ajoute des cartes à ta collection en cliquant sur le bouton ci-dessous.</strong>
    </p>
    <p>
      <a href="/cards/new" class="btn btn-secondary">Ajouter des cartes</a>
    </p>
  </div>
<% end %>