<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="px-4 py-5 border-bottom">
    <h1 class="display-4">Bienvenue sur une page vide.</h1>
    <p class="lead">C'est une page de démarrage basique.</p>

  </div>
</div>

<%#= link_to "New card", new_card_path %>
