<p style="color: green"><%= notice %></p>

<div class="container">
  <h1 class="display-4">Bienvenue sur la page "Ma collection"</h1>
  <p class="lead">Cette page vous permet de consulter votre collection de cartes.</p>
</div>

<%#= link_to "New card", new_card_path %>
