<p style="color: green"><%= notice %></p>

<div class="container">
  <h1 class="display-4">Bienvenue sur la page "Collection"</h1>
  <p class="lead mb-5">Voici un aperçu du top 10 de vos cartes les plus chères :</p>

  <!-- Test -->


  <!-- White -->
  <div class="container-fluid bg-light text-center text-black p-3">
    <p class="h1">Blanc</p>
  </div>
  <div class="container table-responsive-sm">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Top</th>
          <th>Carte</th>
          <th>Quantité</th>
          <th>Prix (unitaire)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#1</td>
          <td>A la grâce de dieux</td>
          <td>1</td>
          <td>24$</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>#2</td>
          <td>Ange de la restoration</td>
          <td>1</td>
          <td>22$</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>#3</td>
          <td>Bénédiction de l'écaille</td>
          <td>2</td>
          <td>18,25$</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>#4</td>
          <td>Capitaine de la relève</td>
          <td>1</td>
          <td>14$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#5</td>
          <td>Chemin vers l'exil</td>
          <td>2</td>
          <td>8$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#6</td>
          <td>Dernier souffle</td>
          <td>1</td>
          <td>7,50$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#7</td>
          <td>Dime étouffante</td>
          <td>3</td>
          <td>6,25$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#8</td>
          <td>Episseur de capteurs</td>
          <td>2</td>
          <td>4,10$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#9</td>
          <td>Frère d'armes ainok</td>
          <td>1</td>
          <td>3,25$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#10</td>
          <td>Mur d'augures</td>
          <td>4</td>
          <td>1.20$</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Blue -->
  <div class="container-fluid bg-primary text-center text-white p-3">
    <p class="h1">Blue</p>
  </div>
  <div class="container table-responsive-sm">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Top</th>
          <th>Carte</th>
          <th>Quantité</th>
          <th>Prix (unitaire)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#1</td>
          <td>A la grâce de dieux</td>
          <td>1</td>
          <td>24$</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>#2</td>
          <td>Ange de la restoration</td>
          <td>1</td>
          <td>22$</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>#3</td>
          <td>Bénédiction de l'écaille</td>
          <td>2</td>
          <td>18,25$</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>#4</td>
          <td>Capitaine de la relève</td>
          <td>1</td>
          <td>14$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#5</td>
          <td>Chemin vers l'exil</td>
          <td>2</td>
          <td>8$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#6</td>
          <td>Dernier souffle</td>
          <td>1</td>
          <td>7,50$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#7</td>
          <td>Dime étouffante</td>
          <td>3</td>
          <td>6,25$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#8</td>
          <td>Episseur de capteurs</td>
          <td>2</td>
          <td>4,10$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#9</td>
          <td>Frère d'armes ainok</td>
          <td>1</td>
          <td>3,25$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#10</td>
          <td>Mur d'augures</td>
          <td>4</td>
          <td>1.20$</td>
        </tr>
      </tbody>
    </table>
  </div>
    <!-- Black -->
  <div class="container-fluid bg-dark text-center text-white p-3">
    <p class="h1">Noir</p>
  </div>
  <div class="container table-responsive-sm">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Top</th>
          <th>Carte</th>
          <th>Quantité</th>
          <th>Prix (unitaire)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#1</td>
          <td>A la grâce de dieux</td>
          <td>1</td>
          <td>24$</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>#2</td>
          <td>Ange de la restoration</td>
          <td>1</td>
          <td>22$</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>#3</td>
          <td>Bénédiction de l'écaille</td>
          <td>2</td>
          <td>18,25$</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>#4</td>
          <td>Capitaine de la relève</td>
          <td>1</td>
          <td>14$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#5</td>
          <td>Chemin vers l'exil</td>
          <td>2</td>
          <td>8$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#6</td>
          <td>Dernier souffle</td>
          <td>1</td>
          <td>7,50$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#7</td>
          <td>Dime étouffante</td>
          <td>3</td>
          <td>6,25$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#8</td>
          <td>Episseur de capteurs</td>
          <td>2</td>
          <td>4,10$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#9</td>
          <td>Frère d'armes ainok</td>
          <td>1</td>
          <td>3,25$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#10</td>
          <td>Mur d'augures</td>
          <td>4</td>
          <td>1.20$</td>
        </tr>
      </tbody>
    </table>
  </div>
    <!-- Red -->
  <div class="container-fluid bg-danger text-center text-white p-3">
    <p class="h1">Rouge</p>
  </div>
  <div class="container table-responsive-sm">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Top</th>
          <th>Carte</th>
          <th>Quantité</th>
          <th>Prix (unitaire)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#1</td>
          <td>A la grâce de dieux</td>
          <td>1</td>
          <td>24$</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>#2</td>
          <td>Ange de la restoration</td>
          <td>1</td>
          <td>22$</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>#3</td>
          <td>Bénédiction de l'écaille</td>
          <td>2</td>
          <td>18,25$</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>#4</td>
          <td>Capitaine de la relève</td>
          <td>1</td>
          <td>14$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#5</td>
          <td>Chemin vers l'exil</td>
          <td>2</td>
          <td>8$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#6</td>
          <td>Dernier souffle</td>
          <td>1</td>
          <td>7,50$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#7</td>
          <td>Dime étouffante</td>
          <td>3</td>
          <td>6,25$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#8</td>
          <td>Episseur de capteurs</td>
          <td>2</td>
          <td>4,10$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#9</td>
          <td>Frère d'armes ainok</td>
          <td>1</td>
          <td>3,25$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#10</td>
          <td>Mur d'augures</td>
          <td>4</td>
          <td>1.20$</td>
        </tr>
      </tbody>
    </table>
  </div>
    <!-- Green -->
  <div class="container-fluid bg-success text-center text-white p-3">
    <p class="h1">Vert</p>
  </div>
  <div class="container table-responsive-sm">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Top</th>
          <th>Carte</th>
          <th>Quantité</th>
          <th>Prix (unitaire)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#1</td>
          <td>A la grâce de dieux</td>
          <td>1</td>
          <td>24$</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>#2</td>
          <td>Ange de la restoration</td>
          <td>1</td>
          <td>22$</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>#3</td>
          <td>Bénédiction de l'écaille</td>
          <td>2</td>
          <td>18,25$</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>#4</td>
          <td>Capitaine de la relève</td>
          <td>1</td>
          <td>14$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#5</td>
          <td>Chemin vers l'exil</td>
          <td>2</td>
          <td>8$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#6</td>
          <td>Dernier souffle</td>
          <td>1</td>
          <td>7,50$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#7</td>
          <td>Dime étouffante</td>
          <td>3</td>
          <td>6,25$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#8</td>
          <td>Episseur de capteurs</td>
          <td>2</td>
          <td>4,10$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#9</td>
          <td>Frère d'armes ainok</td>
          <td>1</td>
          <td>3,25$</td>
        </tr>
      </tbody>
            <tbody>
        <tr>
          <td>#10</td>
          <td>Mur d'augures</td>
          <td>4</td>
          <td>1.20$</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<%#= link_to "New card", new_card_path %>
