@import "bootstrap";

*, *:before, *:after {
  box-sizing: border-box;
}
.display-1 {
  font-size: 90px;
  font-weight: 700;
}
.background-gradient {
  background-image: linear-gradient(to top right,#ef4444, #4338ca);
  color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  -webkit-background-clip: text;
  background-clip: text;
}

@media (max-width: 1020px) {
  .display-1 {
    font-size: 50px;
    font-weight: 700;
  }
  .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .carousel-caption h2 {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
  }
  .carousel-caption p {
    font-size: 11px;
    font-weight: 800;
    color: #fff;
  }
  .py-3 {
    .rounded {
      width: 100%;

    }
  }
}
