@import "bootstrap";

*, *:before, *:after {
  box-sizing: border-box;
}

.display-1 {
  font-size: 90px;
  font-weight: 700;
}

.btn{
  font-size: 1.2rem;
}

.background-gradient {
  background-image: linear-gradient(to top right,#ef4444, #4338ca);
  color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  -webkit-background-clip: text;
  background-clip: text;
}

@media (max-width: 1020px) {
  .display-1 {
    font-size: 70px;
    font-weight: 500;
  }
}
