@import "bootstrap";

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}
*, *:before, *:after {
  box-sizing: border-box;
}
a {
  color: #009970;
  text-decoration: none;
}
a:hover {
  color: #00cc95;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
.display-1 {
  font-size: 90px;
  font-weight: 700;
}
.background-gradient {
  background-image: linear-gradient(to top right,#ef4444, #4338ca);
  color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  -webkit-background-clip: text;
  background-clip: text;
}
.container table tbody tr td form .form-control {
  display: inline-flex;
  width: 45%;
}
#modal {
  overflow: hidden;
}

/*--------------------------------------------------------------
# Page specific styles construction
--------------------------------------------------------------*/
.construction {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}
label button[type="button"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
label .icon {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #222222;
  color: #555;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 10px;
  overflow: hidden;
}

/*--------------------------------------------------------------
# On phone
--------------------------------------------------------------*/
@media (max-width: 1020px) {
  .display-1 {
    font-size: 50px;
    font-weight: 700;
  }
  .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .carousel-caption h2 {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
  }
  .carousel-caption p {
    font-size: 11px;
    font-weight: 800;
    color: #fff;
  }
  .py-3 {
    .rounded {
      width: 100%;

    }
  }
}

/*--------------------------------------------------------------
# Scroll to Top
--------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
}
@mixin setScrolltopColors($bgColor: #333, $arrowColor: white, $bgColorHover: $bgColor, $arrowColorHover: $arrowColor) {
  #scrolltop-bg {
    fill: $bgColor;
  }
  #scrolltop-arrow {
    fill: $arrowColor;
  }
  a:hover {
    #scrolltop-bg {
      fill: $bgColorHover;
    }
    #scrolltop-arrow {
      fill: $arrowColorHover;
    }
  }
}
.scrolltop-wrap {
  $size: 3rem;
  $offsetBottom: 2rem;
  $offsetHorizontal: 2rem;
  $scrollToRevealDistance: 17rem; // scroll offset to reveal scroll-to-top link
  $color: #3a9970;
  box-sizing: border-box;
  position: absolute;
  top: $scrollToRevealDistance;
  right: $offsetHorizontal;
  bottom: 0;
  pointer-events: none;
  backface-visibility: hidden;
  @include setScrolltopColors($color, white, lighten($color, 8%));
  // prevent extra page height if content is smaller than viewport
  // Firefox only
  @supports (-moz-appearance: meterbar) {
    clip: rect(0, $size, auto, 0);
  }
  a {
    $offset: - ($size + $offsetBottom); // pull up + add a small bottom space
    position: fixed; // fallback
    position: sticky;
    top: $offset;
    width: $size;
    height: $size;
    margin-bottom: $offset;
    transform: translateY(100vh); // push to bottom from top (when stuck)
    backface-visibility: hidden;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    pointer-events: all;
    outline: none;
    overflow: hidden;
    svg {
      display: block;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      path {
        transition: all 0.1s;
      }
    }
    #scrolltop-arrow {
      transform: scale(0.66);
      transform-origin: center;
    }
  }
  @media print {
    display: none !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  top: 20px;
}
#header .header-container {
  background: #fff;
}
#header.header-scrolled {
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  top: 0;
}
#header .logo {
  overflow: hidden;
  padding: 16px 30px 12px 30px;
  background: #009970;
}
#header .logo h1 {
  font-size: 26px;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/**
* Desktop Navigation
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  color: #36343a;
  transition: 0.3s;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #009970;
}
.navbar .getstarted,
.navbar .getstarted:focus {
  background: #009970;
  padding: 10px 25px;
  margin-left: 30px;
  margin-right: 15px;
  border-radius: 50px;
  color: #fff;
}
.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #00b383;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
  font-weight: 500;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #009970;
}
.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
.container-fluid {
  background: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background: url("https://images.ctfassets.net/s5n2t79q9icq/4TdkgDCfZNHGRW1HcRqVD2/1c01514429c7a87cf3930d3956c55f07/ddnAv0gyc_1920x700.jpg") fixed center center;
  background-size: cover;
  position: relative;
}
#hero .container {
  padding-top: 80px;
}
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#hero h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}
#hero .btn-get-started:hover {
  background: #009970;
  border: 2px solid #009970;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }

  #hero .container {
    padding-top: 60px;
  }

  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.ctfassets.net/s5n2t79q9icq/3tfGnXDb3vFtEBILPMoX7L/a3b367cce0afeabe73232d831e6e90ba/Chandra_Torch_of_Defiance_KLD_1920x1080_Wallpaper.jpg") fixed center center;
  background-size: cover;
  padding: 60px 0;
}
.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}
.cta p {
  color: #fff;
}
.cta .cta-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}
.cta .cta-btn:hover {
  background: #009970;
  border: 2px solid #009970;
}

/*--------------------------------------------------------------
# Alert
--------------------------------------------------------------*/
.alert {
  margin-top: 150px;
  top: 50%;
  width: 50%;
  margin-left: 25%;
}
.alert .alert-success {
  background-color: #009970;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
}
