@import "bootstrap";

.background-gradient {
  background-image: linear-gradient(to top right,#ef4444, #4338ca);
  color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  -webkit-background-clip: text;
  background-clip: text;
}

.landing-text {
@include font-size(1.1rem);
}
