<div class="construction">
  <div class="my-5 pt-5 text-muted text-center text-small">
    <h1 data-text="En construction">En construction</h1>
    <p class="mb-1">Nous travaillons dur pour vous offrir le meilleur service possible.</p>
    <p class="mb-1">Merci de votre patience.</p>
    <div class="my-5">
      <p class="mb-1">Quelle couleur choisiras-tu ?</p>
      <label>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#oModalYouTubeWhite">
          <div class="icon"><img class="fa white" src="https://gatherer.wizards.com/images/Redesign/White_Mana.png"></div>
        </button>
      </label>

      <label>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#oModalYouTubeBlue">
          <div class="icon"><img class="fa blue" src="https://gatherer.wizards.com/images/Redesign/Blue_Mana.png"></div>
        </button>
      </label>

      <label>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#oModalYouTubeBlack">
          <div class="icon"><img class="fa black" src="https://gatherer.wizards.com/images/Redesign/Black_Mana.png"></div>
        </button>
      </label>

      <label>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#oModalYouTubeRed">
          <div class="icon"><img class="fa red" src="https://gatherer.wizards.com/images/Redesign/Red_Mana.png"></div>
        </button>
      </label>

      <label>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#oModalYouTubeGreen">
          <div class="icon"><img class="fa green" src="https://gatherer.wizards.com/images/Redesign/Green_Mana.png"></div>
        </button>
      </label>
    </div>
  </div>
  <!-- White -->
  <div class="modal fade" id="oModalYouTubeWhite" tabindex="-1" aria-labelledby="oModalYouTubeWhiteTitre" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="oModalYouTubeWhiteTitre">Blanc</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
        </div>
        <div class="modal-body">
          <div class="ratio ratio-16x9">
            <iframe id="oVideoYouTubeiFrameWhite" src="https://www.youtube.com/embed/mzBrfW7Ipzg?html5=1" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Blue -->
  <div class="modal fade" id="oModalYouTubeBlue" tabindex="-1" aria-labelledby="oModalYouTubeBlueTitre" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="oModalYouTubeBlueTitre">Bleu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
        </div>
        <div class="modal-body">
          <div class="ratio ratio-16x9">
            <iframe id="oVideoYouTubeiFrameBlue" src="https://www.youtube.com/embed/OOzNb5Bqzwg?html5=2" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Black -->
    <div class="modal fade" id="oModalYouTubeBlack" tabindex="-1" aria-labelledby="oModalYouTubeBlackTitre" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="oModalYouTubeBlackTitre">Noir</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
        </div>
        <div class="modal-body">
          <div class="ratio ratio-16x9">
            <iframe id="oVideoYouTubeiFrameBlack" src="https://www.youtube.com/embed/b5W9t62t10I?html5=2" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Red -->
  <div class="modal fade" id="oModalYouTubeRed" tabindex="-1" aria-labelledby="oModalYouTubeRedTitre" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="oModalYouTubeRedTitre">Rouge</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
        </div>
        <div class="modal-body">
          <div class="ratio ratio-16x9">
            <iframe id="oVideoYouTubeiFrameRed" src="https://www.youtube.com/embed/TR7fe5EdKtw?html5=2" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Green -->
  <div class="modal fade" id="oModalYouTubeGreen" tabindex="-1" aria-labelledby="oModalYouTubeGreenTitre" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="oModalYouTubeGreenTitre">Vert</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
        </div>
        <div class="modal-body">
          <div class="ratio ratio-16x9">
            <iframe id="oVideoYouTubeiFrameGreen" src="https://www.youtube.com/embed/hhj7mx1wfGM?html5=2" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
