<div class="construction">
  <div class="my-5 pt-5 text-muted text-center text-small">
    <h1 data-text="En construction">En construction</h1>
    <p class="mb-1">Nous travaillons dur pour vous offrir le meilleur service possible.</p>
    <p class="mb-1">Merci de votre patience.</p>
    <div class="my-5">
      <label>
        <input type="checkbox" name="">
        <div class="icon"><img class="fa white" src="https://gatherer.wizards.com/images/Redesign/White_Mana.png" alt="White"></div>
      </label>

      <label>
        <input type="checkbox" name="">
        <div class="icon"><img class="fa blue" src="https://gatherer.wizards.com/images/Redesign/Blue_Mana.png" alt="Blue"></div>
      </label>

      <label>
        <input type="checkbox" name="">
        <div class="icon"><img class="fa black" src="https://gatherer.wizards.com/images/Redesign/Black_Mana.png" alt="Black"></div>
      </label>

      <label>
        <input type="checkbox" name="">
        <div class="icon"><img class="fa red" src="https://gatherer.wizards.com/images/Redesign/Red_Mana.png" alt="Red"></div>
      </label>

      <label>
        <input type="checkbox" name="">
        <div class="icon"><img class="fa green" src="https://gatherer.wizards.com/images/Redesign/Green_Mana.png" alt="Green"></div>
      </label>
    </div>
  </div>
</div>
