<div class="construction">
  <div class="my-5 text-muted text-center text-small">
    <h1 data-text="En construction">En construction</h1>
    <p class="mb-1">Nous travaillons dur pour vous offrir le meilleur service possible.</p>
    <p class="mb-1">Merci de votre patience.</p>
    <div class="my-5">
      <p class="mb-2">Quelle couleur choisiras-tu ?</p>
      <label class="mb-1">
        <div class="icon"><img class="fa white" src="https://gatherer.wizards.com/images/Redesign/White_Mana.png"></div>
      </label>

      <label class="mb-2">
        <div class="icon"><img class="fa blue" src="https://gatherer.wizards.com/images/Redesign/Blue_Mana.png"></div>
      </label>

      <label class="mb-1">
        <div class="icon"><img class="fa black" src="https://gatherer.wizards.com/images/Redesign/Black_Mana.png"></div>
      </label>

      <label class="mb-1">
        <div class="icon"><img class="fa red" src="https://gatherer.wizards.com/images/Redesign/Red_Mana.png"></div>
      </label>

      <label class="mb-1">
        <div class="icon"><img class="fa green" src="https://gatherer.wizards.com/images/Redesign/Green_Mana.png"></div>
      </label>
    </div>
  </div>
</div>
