
<div class="landing py-5 my-5">
  <section id="home_hero" class="hero text-center pb-5">
    <h1 class="display-1 fw-800 mb-3" style="line-height: 1.05;">
      <span class="d-block">Mettez en avant</span>
      <span class="d-block background-gradient">votre collection Magic.</span>
    </h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-4 mt-5" style="line-height: 1.25;">
        <span class="d-block">Recherchons ensemble toute tes cartes une par une.</span>
        <span class="d-block pb-2">Et évaluons le prix de ta collection !</span>
      </p>
      <div class="d-flex flex-column flex-md-row justify-content-center align-items-center mt-4">
        <button type="button" class="btn btn-dark btn-lg" style="width: 250px;">Recherche tes cartes →</button>
        <button type="button" class="btn btn-outline-dark btn-lg ms-0 ms-md-2 mt-2 mt-md-0" style="width: 250px;">Complette ta collection</button>
      </div>
    </div>
  </section>
</div>
