<div class="landing py-5 my-5">
  <section id="home_hero" class="hero text-center pb-5">
    <h1 class="display-1 fw-800 mb-3" style="line-height: 1.05;">
      <span class="d-block">Mettez en avant</span>
      <span class="d-block background-gradient">votre collection Magic.</span>
    </h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-4 mt-5" style="line-height: 1.25;">
        <span class="d-block">Recherchons ensemble toute tes cartes une par une.</span>
        <span class="d-block pb-2">Et évaluons le prix de ta collection !</span>
      </p>
      <div class="d-flex flex-column flex-md-row justify-content-center align-items-center mt-4">
        <button type="button" class="btn btn-dark btn-lg" style="width: 270px;">Recherche tes cartes →</button>
        <button type="button" class="btn btn-outline-dark btn-lg ms-0 ms-md-2 mt-2 mt-md-0" style="width: 247.901099;">Evalue ta collection</button>
      </div>
    </div>
  </section>
</div>

<div class="landing py-5 my-5">
  <section id="home_benefits" class="flex-center flex-column pt-3 pb-5 m-auto mt-5">
    <div class="flex-center flex-column py-5 mb-3">
      <div class="container py-3">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-5 d-flex flex-column mb-3 order-md-2">
            <h2 class="mb-3 h3 mt-0 fw-800">
              Cet outil va te permettre de trouver tes cartes.
            </h2>
            <div>
              <span class="landing-text">
                <p>Tu vas pouvoir trouver toute tes cartes de façon rapide et simple à la fois !
                Soit patient et amuse toi.</p>
              </span>
              <a href="/" class="landing-badge"><span class="">Recherche <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" class="mx-1"><path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path></svg></span>Direction fouille intensive</a>
            </div>
          </div>
          <div class="col-12 col-md-7">
            <div class="flex-center">
              <svg width="450px" height="249px" viewBox="0 0 450 249" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="Rectangle" stroke="#979797" fill="#F5F5F5" x="0.5" y="0.5" width="449" height="247.901099" rx="5"></rect>
                  </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-center flex-column py-5 mb-3">
      <div class="container py-3">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-5 d-flex flex-column mb-3">
            <h2 class="mb-3 h3 mt-0 fw-800">Voici un outil qui va te faire voir en grand ta collection.</h2>
            <div>
              <span class="landing-text">
                <p>Ta collection est visible entièrement ici. Tu vas pouvoir voir le prix unitaire de chaqune de tes cartes.</p>
              </span>
              <a href="/" class="landing-badge"><span class="">Collection <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" class="mx-1"><path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path></svg></span>Direction calculette en main</a>
            </div>
          </div>
          <div class="col-12 col-md-7">
            <div class="flex-center">
              <svg width="450px" height="249px" viewBox="0 0 450 249" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="Rectangle" stroke="#979797" fill="#F5F5F5" x="0.5" y="0.5" width="449" height="247.901099" rx="5"></rect>
                  </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-center flex-column py-5 mb-3">
      <div class="container py-3">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-5 d-flex flex-column mb-3 order-md-2">
            <h2 class="mb-3 h3 mt-0 fw-800">
              L'outil favorie de tous les joueurs !
            </h2>
            <div>
              <span class="landing-text">
                <p>Maintenant on analyse le prix de ta collection ainsi que son évolution les mois/années passées. Ce prix reflète une estimation global de ta collection.</p>
              </span>
              <a href="/" class="landing-badge"><span class="">Tableau <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" class="mx-1"><path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path></svg></span>Direction feuille de calcul</a>
            </div>
          </div>
          <div class="col-12 col-md-7">
            <div class="flex-center">
              <svg width="450px" height="249px" viewBox="0 0 450 249" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="Rectangle" stroke="#979797" fill="#F5F5F5" x="0.5" y="0.5" width="449" height="247.901099" rx="5"></rect>
                  </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-center flex-column py-5 mb-3">
      <div class="container py-3">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-5 d-flex flex-column mb-3">
            <h2 class="mb-3 h3 mt-0 fw-800">Enfin, voici un blog convivial et généreux à la fois</h2>
            <div>
              <span class="landing-text">
                <p>Découvre ce que les administrateurs du site ont à te faire découvrir <a href="">ici</a>.</p>
              </span>
            </div>
          </div>
          <div class="col-12 col-md-7">
            <div class="flex-center">
              <svg width="450px" height="249px" viewBox="0 0 450 249" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect id="Rectangle" stroke="#979797" fill="#F5F5F5" x="0.5" y="0.5" width="449" height="247.901099" rx="5"></rect>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
